---
name: cmake
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-gcc:
    name: Build w/ gcc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Conan
        run: |
          python -m pip install --upgrade pip
          pip install wheel setuptools
          pip install conan
          export PATH=$PATH:/home/runner/.local/bin
          echo $PATH
          conan --version
          sudo ln -s ~/.local/bin/conan /usr/local/bin/conan
      - name: Build with CMake (gcc)
        run: |
          sudo apt update
          sudo apt install cmake ninja-build gcc
          cmake --version
          gcc --version
          ls
          mkdir build-gcc
          cd build-gcc
          cmake .. -G Ninja -DUSE_CONAN -DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=gcc -DCMAKE_BUILD_TYPE=Release
          ninja
  build-clang:
    name: Build w/ clang
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Conan
        run: |
          python -m pip install --upgrade pip
          pip install wheel setuptools
          pip install conan
          export PATH=$PATH:/home/runner/.local/bin
          echo $PATH
          conan --version
          sudo ln -s ~/.local/bin/conan /usr/local/bin/conan
      - name: Build with CMake (clang)
        run: |
          sudo apt update
          sudo apt install cmake ninja-build clang
          cmake --version
          clang --version
          ls
          mkdir build-clang
          cd build-clang
          cmake .. -G Ninja -DUSE_CONAN -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_BUILD_TYPE=Release
          ninja
